<footer class="site-footer">
  <p>
    漫飛民宿 Slow Fly｜訂房專線
    <a href="tel:03-826-0006">03-826-0006</a>、<a href="tel:0939321665">0939321665</a> 王小姐<br>
    LINE ID：<a href="http://line.me/ti/p/zzIpG1ziYN" target="_blank">flyfly555</a>｜Wechat ID：happly-fly｜
    <a href="https://www.facebook.com/slowfly5566" target="_blank">www.facebook.com/slowfly5566</a>
    <a href="https://www.facebook.com/slowfly5566" target="_blank" class="site-footer__fb-icon">
      <img src="assets/img/common/facebook-icon.png" alt="漫飛民宿 Facebook">
    </a>
  </p>
  <p>花蓮民宿合法登記第1346號</p>
  <p class="site-footer__copyright">&copy; {{ 'now' | date: '%Y' }} 漫飛民宿 Slow Fly 版權所有 All rights reserved.</p>
</footer>
