<div class="floating-contact">
  <a href="tel:0939321665" class="fc-phone" title="立即聯絡 - 電話客服">
    <img src="http://www.public.com.tw/ad/social/phone.png" alt="">電話
  </a>
  <a href="http://line.me/ti/p/zzIpG1ziYN" class="fc-line" target="_blank" title="立即聯絡 - Line 線上客服">
    <img src="http://www.public.com.tw/ad/social/Line.png" alt="">詢問
  </a>
  <a href="https://www.messenger.com/t/337422233088566" class="fc-fb" target="_blank" title="立即聯絡 - Facebook 線上客服">
    <img src="http://www.public.com.tw/ad/social/Messenger.png" alt="">訊息
  </a>
</div>
